.common__section {
  background: var(--green-gradient), url('../assets/images/banner-02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 80px 0px;
}
