.hero__content {
  padding-top: 50px;
}

.hero-tittle {
  font-size: 2.5rem;
  line-height: 45px;
}

.hero-tittle span {
  color: var(--main-color);
}

.hero__content p {
  font-size: 1rem;
  line-height: 25px;
  color: var(--gray-color);
}

.hero__btns button {
  border: none;
  outline: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}
.hero__btns button:hover {
  padding: 7px 25px;
}
.hero__btns button svg {
  margin-left: 8px;
}

.order__btn {
  background: var(--main-color);
  color: var(--white-color);
}

.order__btn:hover {
  border: 1px solid var(--main-color) !important;
  background: transparent;
  color: var(--main-color);
}

.all__foods-btn {
  color: var(--main-color) !important;
  background: transparent;
  border: 1px solid var(--main-color) !important;
}
.all__foods-btn:hover a {
  color: var(--main-color) !important;
}

.all__foods-btn a {
  color: var(--main-color);
}
